
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
  
    <title>IMPORT</title>
    <script src="https://kit.fontawesome.com/4ab7d5f053.js" crossorigin="anonymous"></script>
    <script src="../js/main.js" defer></script>
</head>
<body>
    <!-- 상단 메뉴 바, 어느 페이지건 다 복사 붙여넣기를 해야함 -->
    <header>
        <nav>
            <div class="menu-button">
                <i class="fas fa-bars"></i>
            </div>
          <div class="logo">
              <h1 style="cursor: pointer;" onclick="location.href='<%= process.env.SERVER_HOST %>'">IMPORT</h1>
          </div>
        <div class="topMenu">
            <ul class="topMenu-ul">
              <li><a href="<%= process.env.SERVER_HOST %>/">동아리 <span>▼</span></a>
                <ul>
                  <li><a href="<%= process.env.SERVER_HOST %>/executive">임원진</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/indroduce">동아리 소개</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/rule">동아리 규칙</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/meeting">회의록</a></li>
                </ul>
              </li>
              <li><a href="<%= process.env.SERVER_HOST %>/project">프로젝트</a></li>
              <li><a href="<%= process.env.SERVER_HOST %>/">Education <span>▼</span></a>
                <ul>
                  <li><a href="<%= process.env.SERVER_HOST %>/web">Web</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/mobile">Mobile</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/dataAnalysis">Data Analysis</a></li>
                  <li><a href="<%= process.env.SERVER_HOST %>/ai">AI</a></li>
                </ul>
              <li><a href="<%= process.env.SERVER_HOST %>/question">질문 게시판</a></li>
            </ul>
        </div>
      </nav>
    </header>

    <!--상단 게시판 제목-->
    <div class="contents">
        <div class="title">
            <% if(data.length > 0){ %>
            <h2><%= data[0].category %></h2>
            <sup class="total">12</sup>
        </div>
        <!--상단 제목 ~ 하단 Load more-->
        <div class="project-cards-container">
            
                <% for (var i = 0; i< data.length;i++){ %>
                <!--프로젝트 게시물 전체-->
                <div class="project-cards">
                    <!-- 프로젝트 게시물 개별 -> 한번에 6개 보여줌-->
                        <div class="project-card-component"  onclick="senddata()">
                            <a class="project-views" href="<%= process.env.SERVER_HOST %>/post/<%=data[i]._id%>?category=<%=data[i].category%>">
                                <img src="./images/project.png" alt="" class="project-thumbnail">
                                <p class="name"><%= data[i].title %></p>
                                <p class="time">2022</p>
                            </a>
                            <div class="links">
                                <div class="link-item">
                                    <p>Go to Page</p>
                                </div>
                            </div>
                        </div>        
                </div>
                <% } %>
            
            <div class="load-more">
                <div class="load-more-btn">
                    <p>Load more</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <% }else{ %>
                    <script>
                        alert('빈 게시글 입니다.');
                    </script>
                <% } %>
            </div>
        </div>
    </div>
                <!--

                
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                <div class="project-card-component">
                    <a href="" class="project-views">
                        <img src="../images/project.png" alt="" class="project-thumbnail">
                        <p class="name">프로젝트 제목</p>
                        <p class="time">1기</p>
                    </a>
                    <div class="links">
                        <div class="link-item">
                            <p>Go to Page</p>
                        </div>
                    </div>
                </div>
                -->
                
 


    <!-- 마지막 footer부분 이 부분은 메뉴바와 함께 복사 붙여 넣기 꼭 하기 -->
    <div class="footer">
        <div class="sns">
          <ul class="snss">
            <li><a href="https://github.com/Import-hanbat"><i style="color: white;" class="fab fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/import_hanbat/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/Import-110047964872044"><i class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
          <div class="copyright">
              <p>Copyright 2022. Import all right reserved.</p>
          </div>
            <div class="address">
              <p>대전광역시 유성구 동서대로 125</p>
            </div>
        </div>
</body>
</html>